#vehicle_hero_section {
  height: 85vh;
  width: 100%;
  background-image: url(../../../../assets/Boa&Gira/Foto_4.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9;
}

#vehicle_about_section {
  background-color: #dcebfb;
  .container {
    .vehicle {
      display: flex;
      flex-direction: row;
      .vahicle_name {
        width: 50%;
        .name {
          font-size: 30px;
          font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
          text-transform: uppercase;
        }
      }
      .informations {
        width: 50%;
        display: flex;
        .title {
          font-size: 15px;
          font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
          text-transform: uppercase;
        }
      }
    }
  }
}

#gallery_section {
  background-color: #dcebfb;
  display: flex;
  flex-direction: column;
  gap: 90px;
  padding-block: 90px;
  .image_1 {
    height: 450px;
    width: 60%;
    background-image: url(../../../../assets/Boa&Gira/Foto_1.jpg);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  .image_2 {
    height: 450px;
    width: 60%;
    background-image: url(../../../../assets/Boa&Gira/Foto_7.jpg);
    background-size: cover;
    align-self: flex-end;
    background-position: center;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }
  .image_3 {
    height: 450px;
    width: 60%;
    background-image: url(../../../../assets/Boa&Gira/Foto_6.webp);
    background-size: cover;
    background-position: center;
    border-top-right-radius: 300px;
    border-bottom-right-radius: 300px;
  }
  .image_4 {
    height: 450px;
    width: 60%;
    background-image: url(../../../../assets/Boa&Gira/Foto_5.webp);
    background-size: cover;
    align-self: flex-end;
    background-position: center;
    border-top-left-radius: 300px;
    border-bottom-left-radius: 300px;
  }
}
