<app-header></app-header>
<main>
  <section id="vehicle_hero_section"></section>
  <section id="gallery_section">
    <div class="container">
      <div
        class="about"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <p>
          A <strong>Agostinha</strong> é muito mais do que uma simples carrinha,
          é uma verdadeira joia clássica que leva charme e elegância para
          qualquer ocasião. Este <strong> VW Pão de Forma de 1971</strong>, com
          a sua combinação de <strong>azul e branco</strong>, oferece uma
          experiência única de viagem no tempo, acomodando confortavelmente
          <strong>7 pessoas</strong>, além do motorista.
        </p>

        <p>
          Cuidadosamente restaurada, a <strong>Agostinha</strong> vem equipada
          com <strong>CD, USB, Bluetooth</strong> e até um
          <strong>mini frigorífico</strong>, oferecendo a combinação perfeita
          entre o estilo vintage e o conforto moderno. Ideal para
          <strong
            >casamentos, despedidas de solteiro/a, baile de finalistas, tours,
            publicidade, bodas de prata & ouro e sessões fotográficas</strong
          >, a <strong>Agostinha</strong> é a escolha certa para quem procura
          tornar momentos inesquecíveis ainda mais especiais.
        </p>
      </div>
      <div
        class="grid"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <div
          class="item"
          data-aos="fade-right"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_1.webp" alt="" />
        </div>
        <div
          class="item"
          data-aos="fade-left"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_2.webp" alt="" />
        </div>
        <div
          class="item"
          data-aos="fade-right"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_3.webp" alt="" />
        </div>
        <div
          class="item"
          data-aos="fade-left"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_4.webp" alt="" />
        </div>
        <div
          class="item"
          data-aos="fade-right"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_5.webp" alt="" />
        </div>
        <div
          class="item"
          data-aos="fade-left"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_66.webp" alt="" />
        </div>
        <div
          class="item"
          data-aos="fade-right"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_2.webp" alt="" />
        </div>
        <div
          class="item"
          data-aos="fade-left"
          data-aos-anchor-placement="top-center"
          data-aos-duration="1500"
        >
          <img src="../../../../assets/Floribela/Foto_2.webp" alt="" />
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer id="footer"></app-footer>
