<footer id="footer">
  <div class="container">
    <div class="row">
      <div class="company">
        <div class="title">
          <div class="logo">
            <img ngSrc="./assets/pin.png" width="20" height="20" />
          </div>
          <div>
            <p><strong>Localização</strong></p>
          </div>
        </div>
        <div class="address">
          <p>Galeria Comercial da Estação CP Ermesinde, Loja 15</p>
          <p>4445-276</p>
          <p>Ermesinde (Valongo)</p>
        </div>
      </div>
      <div class="working_period">
        <div class="title">
          <div class="logo">
            <img
              ngSrc="./assets/horario-de-funcionamento.png"
              width="20"
              height="20"
            />
          </div>
          <div>
            <p><strong>Horário</strong></p>
          </div>
        </div>
        <div class="information">
          <p>Seg a Sex: 09:30-19:30</p>
          <p>Sab: 09:30-13:00</p>
          <p>Dom: Encerrado</p>
        </div>
      </div>
      <div class="contacts">
        <div class="title">
          <div class="logo">
            <img ngSrc="./assets/contactos.png" width="20" height="20" />
          </div>
          <div>
            <p><strong>Contactos</strong></p>
          </div>
        </div>
        <div class="tel">
          <p>969 037 919</p>
          <small>chamada para rede móvel nacional</small>
        </div>
        <div class="telf">
          <p>229 739 222</p>
          <small>chamada para rede móvel nacional</small>
        </div>
      </div>
    </div>
    <div class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.183216443856!2d-8.558432009811336!3d41.217777632564456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246143c786a5ed%3A0x3fbdd19dd2c8281f!2s4445-276%20Ermesinde!5e0!3m2!1spt-PT!2spt!4v1720064437119!5m2!1spt-PT!2spt"
        width="100%"
        height="300"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="copyright">
      <div class="overline">
        <hr />
      </div>
      <div class="content_copyright">
        <div class="text_copyright">
          <p>© {{ currentYear }} Multimagem. Todos os direitos reservados.</p>
        </div>
        <div class="social_media">
          <div class="inst">
            <div class="logo">
              <a
                href="https://www.instagram.com/multimagem.eventos/"
                target="_blank"
              >
                <img src="./assets/instagram.png" width="25" height="25" />
              </a>
            </div>
          </div>
          <div class="face">
            <div class="logo">
              <a
                href="https://www.facebook.com/profile.php?id=100032353406925"
                target="_blank"
              >
                <img src="./assets/facebook.png" width="25" height="25" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
