footer {
  display: block;
  width: 100%;
  padding-block: 15px;
  background-color: #2c4f6d;
  color: rgb(245, 250, 255);
}

.title {
  display: flex;
  flex-direction: row;
  gap: 5px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.overline hr {
  border-bottom: 1px solid;
  margin-top: 75px;
}

.copyright {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.content_copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-block: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-block: auto;
  @media (max-width: 1024px) {
    flex-direction: column;
    gap: 15px;
  }
}

.contacts {
  display: flex;
  flex-direction: column;
}

.social_media {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.map {
  margin-top: 15px;
  iframe {
    border-radius: 15px;
  }
}

.tel {
  margin-bottom: 15px;
}

.information p {
  padding-block: 5px;
}
