<footer id="footer">
    <div class="container">
        <div class="container_info">
            <div class="company">
                <div class="title">
                    <p><strong>Multimagem Eventos</strong></p>
                </div>
                <div class="information">
                    <div class="slogan">
                        <p>Fotografia - Video e Aluguer de Viaturas</p>
                    </div>
                    <div class="location">
                        <p> Galeria Comercial da Estação CP Ermesinde, Loja 15,</p>
                        <p>4445-276</p>
                        <p>Ermesinde (Valongo)</p>
                    </div>
                    <div class="map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3001.183216443856!2d-8.558432009811336!3d41.217777632564456!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246143c786a5ed%3A0x3fbdd19dd2c8281f!2s4445-276%20Ermesinde!5e0!3m2!1spt-PT!2spt!4v1720064437119!5m2!1spt-PT!2spt" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="working_period">
                <div class="title">
                    <p><strong>Funcionament</strong>o</p>
                </div>
                <div class="information">
                    <p>Seg a sex: 09:30-19:30</p>
                    <p>Sab: 09:30-13:00</p>
                    <p>Dom: Encerrado</p>
                </div>
            </div>
            <div class="menu">
                <div class="title">
                    <p><strong>Menu</strong></p>
                </div>
                <div class="information">
                    <nav>
                        <ul>
                            <li><a routerLink="/about">Sobre nós</a></li>
                            <li><a routerLink="/about">Eventos</a></li>
                            <li><a routerLink="/about">Serviços</a></li>
                            <li><a routerLink="/about">Veículos</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="follow">
                <div class="title">
                    <p><strong>Siga-nos</strong></p>
                </div>
                <div class="information">
                    <div class="instragram">
                        <div class="logo_instagram">
                            <img ngSrc = './assets/logo_instagram' width="150" height="50">
                        </div>
                        <div class="name_instagram">
                            <p>Instagram</p>
                        </div>
                    </div>
                    <div class="facebook">
                        <div class="logo_facebook">
                            <img ngSrc = './assets/logo_instagram' width="150" height="50">
                        </div>
                        <div class="name_facebook">
                            <p>Facebook</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>  
        <div class="copyright">
            <p>© {{currentYear}} Multimagem. Todos os direitos reservados.</p>
        </div>
    </div>
</footer>
