<app-header></app-header>
<section class="gallery">
    <div class="container">
        <h1><strong>Galeria</strong></h1>
        <hr>
        <div class="gallery_container">
            <div class="image">
                <img src="../../../assets/gallery/teste2.jpg" alt="">
                <img src="../../../assets/gallery/teste.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste.jpg" alt="">
                <img src="../../../assets/gallery/teste2.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste2.jpg" alt="">
                <img src="../../../assets/gallery/teste.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste4.jpg" alt="">
                <img src="../../../assets/gallery/teste5.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste.jpg" alt="">
                <img src="../../../assets/gallery/teste5.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>
