<app-header></app-header>
<section class="gallery">
    <div class="container">
        <h1><strong>Galeria</strong></h1>
        <hr>
        <div class="gallery_container">
            <div class="image">
                <img src="../../../assets/gallery/teste2.jpg" alt="">
                <img src="../../../assets/gallery/teste10.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste9.jpg" alt="">
                <img src="../../../assets/gallery/teste2.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste3.jpg" alt="">
                <img src="../../../assets/gallery/teste12.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste7.jpg" alt="">
                <img src="../../../assets/gallery/teste5.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste2.jpg" alt="">
                <img src="../../../assets/gallery/teste.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste6.jpg" alt="">
                <img src="../../../assets/gallery/teste2.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste3.jpg" alt="">
                <img src="../../../assets/gallery/teste.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/teste.jpg" alt="">
                <img src="../../../assets/gallery/214273945_4006666559425066_6282400282589969561_n.jpg" alt="">
            </div>
            <div class="image">
                <img src="../../../assets/gallery/328580715_707952297466776_6556836278201164573_n.jpg" alt="">
            </div>
        </div>
    </div>
</section>

<app-footer></app-footer>