<header id="header">
  <div class="container">
    <div class="logo">
      <a (click)="scrollToHeroSection()" routerLink="/"
        ><strong><img src="./assets/logo.png" alt="" /></strong
      ></a>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li>
            <a (click)="scrollToAboutSection()"><strong>Sobre Nós</strong></a>
          </li>
          <li class="menu-item">
            <a (click)="scrollToVehiclesSection()" class="menu-link"
              ><strong>Veículos</strong></a
            >
            <div class="vehicles">
              <a routerLink="/agostinha"><strong>Agostinha</strong></a>
              <a routerLink="/arrojado"><strong>Arrojado</strong></a>
              <a routerLink="/balcao-bar"><strong>Balcão Bar</strong></a>
              <a routerLink="/bike"><strong>Bike</strong></a>
              <a routerLink="/eugenia"><strong>Eugénia</strong></a>
              <a routerLink="/floribela"><strong>Flóribela</strong></a>
              <a routerLink="/ligeirinho"><strong>Ligeirinho</strong></a>
            </div>
          </li>
          <li>
            <a (click)="scrollToServicesSection()"><strong>Serviços</strong></a>
          </li>
          <li>
            <a (click)="scrollToAwardsSection()"><strong>Prémios</strong></a>
          </li>
          <li>
            <a (click)="scrollToContactForm()"><strong>Orçamento</strong></a>
          </li>
          <li>
            <a (click)="scrollToFooter()"><strong>Contactos</strong></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
