<header id="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/"
        ><img ngSrc="./assets/logo.jpg" width="150" height="50"
      /></a>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li>
            <a routerLink="/sobre"><strong>Sobre nós</strong></a>
          </li>
          <li>
            <a routerLink="/galeria"><strong>Galeria</strong></a>
          </li>
          <li>
            <a routerLink="/servicos"><strong>Serviços</strong></a>
          </li>
          <li>
            <a routerLink="/veiculos"><strong>Veículos</strong></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
