header {
  background-color: white;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .menu nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 30px;
  text-transform: uppercase;
}

@media (max-width: 767) {
  header .menu nav ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    text-transform: uppercase;
  }
}
