<header id="header">
  <div class="container">
    <div class="logo">
      <a routerLink="/"
        ><img ngSrc="./assets/logo.png" width="150" height="50"
      /></a>
    </div>
    <div class="menu">
      <nav>
        <ul>
          <li>
            <a (click)="scrollToAboutSection()"><strong>Sobre Nós</strong></a>
          </li>
          <li>
            <a routerLink="/galeria"><strong>Galeria</strong></a>
          </li>
          <li>
            <a routerLink="/servicos"><strong>Serviços</strong></a>
          </li>
          <li>
            <a routerLink="/veiculos"><strong>Veículos</strong></a>
          </li>
          <li>
            <a  (click)="scrollToContactForm()"><strong>Orçamento</strong></a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
