<app-header></app-header>
<main>
  <section id="vehicle_hero_section"></section>
  <section id="gallery_section">
    <div class="container">
      <div
        class="about"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <p>
          A <strong>Flóribela</strong> é uma carrinha clássica de
          <strong>1969</strong> que se destaca pelo seu design único, com a
          combinação de <strong>verde água e branco</strong>. Com capacidade
          para <strong>8 pessoas</strong> mais o motorista, oferece um conforto
          superior em qualquer viagem.
        </p>

        <p>
          Equipada com
          <strong>CD, USB, Bluetooth e um mini frigorífico</strong>, a
          <strong>Flóribela</strong> une o melhor do estilo vintage e das
          comodidades modernas. Perfeita para
          <strong>
            casamentos, bodas de prata e ouro, despedidas de solteiro/a, bailes
            de finalistas, tours, publicidade e sessões fotográficas</strong
          >, é a escolha ideal para tornar qualquer ocasião ainda mais
          inesquecível.
        </p>
      </div>
    </div>
    <div
      class="grid"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-duration="1500"
    >
      <div
        class="item left_image"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_1.webp" alt="" />
      </div>
      <div
        class="item right_image"
        data-aos="fade-left"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_2.webp" alt="" />
      </div>
      <div
        class="item left_image"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_3.webp" alt="" />
      </div>
      <div
        class="item right_image"
        data-aos="fade-left"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_4.webp" alt="" />
      </div>
      <div
        class="item left_image"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_5.webp" alt="" />
      </div>
      <div
        class="item right_image"
        data-aos="fade-left"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_66.webp" alt="" />
      </div>
      <div
        class="item left_image"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_2.webp" alt="" />
      </div>
      <div
        class="item right_image"
        data-aos="fade-left"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <img src="../../../../assets/Floribela/Foto_2.webp" alt="" />
      </div>
    </div>
  </section>
</main>
<app-footer id="footer"></app-footer>
