.container_vehicle {
  display: flex;
  flex-direction: row;
  margin-block: 15px;
  @media (max-width: 1024px) {
    flex-direction: column;
    align-items: center;
  }
}

.gallery {
  width: 50%;
  @media (max-width: 1024px) {
    width: 100%;
  }
  img {
    width: 100%;
    height: 100%;
  }
}

.itens_data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  background-color: #014181;
  color: white;
  @media (max-width: 1024px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }
}

.logo {
  width: 25px;
  height: 25px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  .title {
    font-size: 15px;
  }
  .text {
    font-size: 18px;
  }
}

.text {
  display: flex;
  flex-direction: column;
}

.vehicle_information p {
  padding-block: 15px;
  color: #333333;
}

.vehicle {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.vehicle_name {
  color: #003366;
  text-transform: uppercase;
  font-size: 45px;
}
