<app-header></app-header>
<section id="vehicles">
  <div class="container">
    <div class="container_vehicle">
      <div class="information">
        <div class="name">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum
            sapiente labore voluptate sunt? Voluptate reiciendis expedita
            debitis nesciunt aliquid sequi, architecto, quam voluptatem eveniet
            quisquam dolorum quod non voluptates.
          </p>
        </div>
        <div class="vehicle_information">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ea
            fugit quaerat voluptatem, incidunt esse aspernatur praesentium
            nesciunt culpa a obcaecati numquam, quod aliquam asperiores
            repellendus dolores qui nulla earum!
          </p>
        </div>
      </div>
      <div class="gallery">
        <swiper-container pagination="true" loop="true" grab-cursor="true">
          <swiper-slide>
            <img src="../../../assets/AG/Foto_8.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_2.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_3.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_4.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_5.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_6.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_7.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_8.jpg" alt="" />
          </swiper-slide>
          <swiper-slide>
            <img src="../../../assets/AG/Foto_9.jpg" alt="" />
          </swiper-slide>
        </swiper-container>
      </div>
    </div>
    <div class="container_vehicle">
      <div class="gallery">
        <img ngSrc="./assets/AG/Foto 2.jpg" width="700" height="300" />
      </div>
      <div class="information">
        <div class="name">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum
            sapiente labore voluptate sunt? Voluptate reiciendis expedita
            debitis nesciunt aliquid sequi, architecto, quam voluptatem eveniet
            quisquam dolorum quod non voluptates.
          </p>
        </div>
        <div class="vehicle_information">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ea
            fugit quaerat voluptatem, incidunt esse aspernatur praesentium
            nesciunt culpa a obcaecati numquam, quod aliquam asperiores
            repellendus dolores qui nulla earum!
          </p>
        </div>
      </div>
    </div>
    <div class="container_vehicle">
      <div class="information">
        <div class="name">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa ipsum
            sapiente labore voluptate sunt? Voluptate reiciendis expedita
            debitis nesciunt aliquid sequi, architecto, quam voluptatem eveniet
            quisquam dolorum quod non voluptates.
          </p>
        </div>
        <div class="vehicle_information">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum ea
            fugit quaerat voluptatem, incidunt esse aspernatur praesentium
            nesciunt culpa a obcaecati numquam, quod aliquam asperiores
            repellendus dolores qui nulla earum!
          </p>
        </div>
      </div>
      <div class="gallery">
        <img src="../../../assets/AG/Foto1.jpg" alt="" />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
