main #masthead {
  height: 100vh;
  width: 100%;
  background-image: url(../../../assets/background-home-page.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}
