<app-header></app-header>
<main>
  <section class="masthead"></section>
  <section id="about_section">
    <div class="container">
            <p>A <strong>Multimagem Eventos</strong> é mais do que uma empresa, é a concretização de um sonho. Esse sonho nasceu da paixão pela fotografia e por toda a arte e glamour que envolve a fotografia de reportagem social.</p>
            <p>Além de capturar momentos inesquecíveis, <strong>a Multimagem também é proprietária de diversas viaturas clássicas da icónica marca VW, disponíveis para aluguer.</strong> São a solução ideal para quem deseja transportar-se com grande estilo. Os nossos clássicos, completamente restaurados, primam pela diferença e são a escolha perfeita para eventos importantes, como <strong>casamentos, despedidas de solteiro, publicidade e outras ocasiões especiais.</strong></p>
            <p>Porque o glamour também se mantém sobre rodas, mantenha o seu no dia do seu casamento com a ajuda da <strong>Multimagem Eventos.</strong></p>
              <button>Saiba mais</button>
    </div>
  </section>
  <section class="vehicles_section">
    <div class="container">
      <div class="about">
        <div class="image">
          <img src="../../../assets/file (1).png" alt="">
        </div>
        <div class="info">
        </div>
      </div>
    </div>
  </section>
  <section class="about_section">
    <div class="container">
        <div class="info">
          <div class="text">
            <p>Sobre nós</p>
            <p>Multimagem Eventos mais que uma empresa é o concretizar de um sonho.
              Sonho esse, que nasce com a paixão pela fotografia e por toda a arte e glamour que envolve a fotografia de reportagem social. A Multimagem é proprietária de diversas viaturas clássicas da mítica marca VW disponíveis para aluguer.

              A solução ideal para quem se quer fazer transportar em grande estilo. Os nossos clássicos completamente restaurados primam pela diferença. São a escolha ideal para eventos importantes, como a data do seu casamento, despedidas de solteiros, publicidade e outros eventos.
              
              Porque o glamour também se mantém sobre rodas, mantenha o seu,  no dia do seu casamento com a ajuda de Multimagem Eventos.</p>
            <div class="more_info">
              <button>Saiba mais</button>
            </div>
          </div>
        </div>
        <div class="image">
        </div>
    </div>
  </section>
  <section class="vehicles_section">
    <div class="container">
      <div class="about">
        <div class="image">
          <img src="../../../assets/file (1).png" alt="">
        </div>
        <div class="info">
        </div>
      </div>
    </div>
  </section>
</main>
<app-contact-form id="contactForm"></app-contact-form>
<app-footer></app-footer>
