<app-header></app-header>
<main>
  <section
    id="hero_section"
    data-aos="fade-up"
    data-aos-anchor-placement="top-center"
    data-aos-duration="1500"
  >
    <video autoplay muted loop id="background_video">
      <source
        src="../../../assets/WhatsApp Video 2024-11-19 at 16.58.59.mp4"
        type="video/mp4"
      />
      Your browser does not support the video tag.
    </video>
    <div class="content">
      <h1>Bem-vindo ao Nosso Website</h1>
    </div>
  </section>
  <section id="about_section">
    <div
      class="container"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-duration="1500"
    >
      <p>
        A <strong>Multimagem Eventos</strong> é mais do que uma empresa, é a
        concretização de um sonho. Esse sonho nasceu da paixão pela fotografia e
        por toda a arte e glamour que envolve a fotografia de reportagem social.
      </p>
      <p>
        Além de capturar momentos inesquecíveis,
        <strong
          >a Multimagem também é proprietária de diversas viaturas clássicas da
          icónica marca VW, disponíveis para aluguer.</strong
        >
        São a solução ideal para quem deseja transportar-se com grande estilo.
        Os nossos clássicos, completamente restaurados, primam pela diferença e
        são a escolha perfeita para eventos importantes, como
        <strong
          >casamentos, despedidas de solteiro, publicidade e outras ocasiões
          especiais.</strong
        >
      </p>
    </div>
  </section>
  <section id="vehicles_section">
    <div class="container">
      <div
        class="section_title"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <p>Os nossos veículos</p>
      </div>
      <div
        class="vehicles"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/boa&gira"
              ><img src="../../../assets/Boa&Gira/Foto_4.jpg" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Boa & Gira</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong>
                  Casamentos, Bodas Prata & Ouro, Desp. Solteiro/a, Baile
                  Finalistas, Tours, Publicidade, Sessões Fotográficas</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/floribela"
              ><img src="../../../assets/Floribela/Foto_2.webp" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Flóribela</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong>
                  Casamentos, Desp. Solteiro/a, Baile Finalistas, Tours,
                  Publicidade, Bodas Prata & Ouro, Sessões Fotográficas</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/agostinha">
              <img src="../../../assets/Agostinha/Foto_4.jpg" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Agostinha</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong>
                  Casamentos, Desp. Solteiro/a, Baile Finalistas, Tours,
                  Publicidade, Bodas Prata & Ouro, Sessões Fotográficas</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/ligeirinho"
              ><img src="../../../assets/vehicles/Ligeirinho.jpg" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Ligeirinho</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong>
                  Casamentos, Desp. Solteiro/a, Baile Finalistas, Tours, Bodas
                  Prata & Ouro, Sessões Fotográficas</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/arrojado"
              ><img src="../../../assets/vehicles/Arrojado.jpg" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Arrojado</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong>
                  Casamentos, Desp. Solteiro/a, Baile Finalistas, Tours, Bodas
                  Prata & Ouro, Sessões Fotográficas</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/eugenia"
              ><img src="../../../assets/gallery/teste16.jpg" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Eugénia</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong
                  >Bar, Refresh Igreja, Street Food, Stand de Vendas, Ações
                  Promocionais</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/bike"
              ><img src="../../../assets/gallery/teste15.jpg" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Bike</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong>
                  Eventos, Casamentos, Refresh Igreja, Stand de Vendas, Ações
                  Promocionais</strong
                >
              </p>
            </div>
          </div>
        </div>
        <div class="vehicle">
          <div
            class="vehicle_image"
            data-aos="fade-up"
            data-aos-anchor-placement="top-center"
            data-aos-duration="1500"
          >
            <a routerLink="/balcao-bar"
              ><img src="../../../assets/vehicles/Balcao_Bar.jpg" alt=""
            /></a>
          </div>
          <div class="vehicle_info">
            <div class="vehicle_name">
              <p>Balcão Bar</p>
            </div>
            <div class="vehicle_services">
              <p>
                <strong
                  >Casamentos - Publicidade, Bodas Prata & Ouro, Stand
                  Promocional, Stand de Vendas</strong
                >
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="services_section">
    <div class="container">
      <div
        class="section_title"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <p>Os nossos serviços</p>
      </div>
      <div
        class="services"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <div class="service">
          <div class="service_image">
            <i class="fa-solid fa-camera fa-6x icon"></i>
          </div>
          <div class="service_text">
            <div class="service_title">
              <p><strong>Fotografia - Vídeo</strong></p>
            </div>
            <div class="service_about">
              <p>
                Imortalizamos os seus momentos com elegância, capturando fotos e
                vídeos de alta qualidade para eternizar as suas memórias.
              </p>
            </div>
          </div>
        </div>
        <div class="service">
          <div class="service_image">
            <i class="fa-solid fa-car fa-6x icon"></i>
          </div>
          <div class="service_text">
            <div class="service_title">
              <p><strong>Aluguer de Viaturas</strong></p>
            </div>
            <div class="service_about">
              <p>
                Disponibilizamos viaturas de excelência para uma experiência
                confortável e requintada.
              </p>
            </div>
          </div>
        </div>
        <div class="service">
          <div class="service_image">
            <i class="fa-solid fa-champagne-glasses fa-6x icon"></i>
          </div>
          <div class="service_text">
            <div class="service_title">
              <p><strong>Serviço de Bar</strong></p>
            </div>
            <div class="service_about">
              <p>
                Servimos bebidas para aprimorar a experiência do seu evento, com
                um toque de elegância.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="awards_section">
    <div class="container">
      <div
        class="section_title"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <p>Prémios e Reconhecimentos</p>
      </div>
      <div
        class="awards_grid"
        data-aos="fade-up"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      >
        <div class="award">
          <img src="../../../assets/awards/badge-rated-50.png" alt="" />
        </div>
        <div class="award">
          <img
            src="../../../assets/awards/badge-weddingawards_2024.jpg"
            alt=""
          />
        </div>
        <div class="award">
          <img
            src="../../../assets/awards/badge-weddingawards_2023.jpg"
            alt=""
          />
        </div>
        <div class="award">
          <img
            src="../../../assets/awards/badge-weddingawards_2022.jpg"
            alt=""
          />
        </div>
        <div class="award">
          <img
            src="../../../assets/awards/badge-weddingawards_2021.jpg"
            alt=""
          />
        </div>
      </div>
    </div>
  </section>
</main>
<app-contact-form id="contactForm"></app-contact-form>
<app-footer id="footer"></app-footer>
