<app-header></app-header>
<main>
  <section class="hero_section"></section>
  <section id="about_section">
    <div class="container">
            <p>A <strong>Multimagem Eventos</strong> é mais do que uma empresa, é a concretização de um sonho. Esse sonho nasceu da paixão pela fotografia e por toda a arte e glamour que envolve a fotografia de reportagem social.</p>
            <p>Além de capturar momentos inesquecíveis, <strong>a Multimagem também é proprietária de diversas viaturas clássicas da icónica marca VW, disponíveis para aluguer.</strong> São a solução ideal para quem deseja transportar-se com grande estilo. Os nossos clássicos, completamente restaurados, primam pela diferença e são a escolha perfeita para eventos importantes, como <strong>casamentos, despedidas de solteiro, publicidade e outras ocasiões especiais.</strong></p>
            <a routerLink="/sobre" class="btn">SAIBA MAIS</a>
    </div>
  </section>
  <section id="vehicles_section">
    <div class="container">
      <div class="item">
        <div class="name">
          <p>Boa & Gira</p>
        </div>
        <div class="image">
          <img src="../../../assets/vehicles/Boa_&_Gira.jpg" alt="">
        </div>
        <div class="btn">
          <a href="#" class="btn">SAIBA MAIS</a>
        </div>
      </div>
      <div class="item">
        <div class="name">
          <p>Ligeirinho</p>
        </div>
        <div class="image">
          <img src="../../../assets/vehicles/Ligeirinho.jpg" alt="">
        </div>
        <div class="btn">
          <a href="#" class="btn">SAIBA MAIS</a>
        </div>
      </div>
      <div class="item">
        <div class="name">
          <p>Flóribela</p>
        </div>
        <div class="image">
          <img src="../../../assets/vehicles/Flóribela.jpg" alt="">
        </div>
        <div class="btn">
          <a href="#" class="btn">SAIBA MAIS</a>
        </div>
      </div>
      <div class="item">
        <div class="name">
          <p>Agostinha</p>
        </div>
        <div class="image">
          <img src="../../../assets/vehicles/Agostinha.jpg" alt="">
        </div>
        <div class="btn">
          <a href="#" class="btn">SAIBA MAIS</a>
        </div>
      </div>
      <div class="item">
        <div class="name">
          <p>Arrojado</p>
        </div>
        <div class="image">
          <img src="../../../assets/vehicles/Arrojado.jpg" alt="">
        </div>
        <div class="btn">
          <a href="#" class="btn">SAIBA MAIS</a>
        </div>
      </div>
      <div class="item">
        <div class="name">
          <p>Balcão Bar</p>
        </div>
        <div class="image">
          <img src="../../../assets/vehicles/Boa_&_Gira.jpg" alt="">
        </div>
        <div class="btn">
          <a href="#" class="btn">SAIBA MAIS</a>
        </div>
      </div>
    </div>
  </section>
</main>
<app-contact-form id="contactForm"></app-contact-form>
<app-footer></app-footer>
