.hero_section {
  height: 75vh;
  width: 100%;
  background-image: url(../../../assets/background-home-page.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.4;
}

#about_section {
  background-color: #bfdfff;
  .container {
    padding-block: 60px;
    p {
      font-size: 30px;
      color: #014181;
      margin-bottom: 30px;
    }
  }
}

#vehicles_section {
  background-color: #014181;
  .container {
    .title {
      color: #bfdfff;
      p {
        font-size: 35px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      hr {
        border: 1px solid;
      }
    }
    .vehicles {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 75px;
      padding-block: 45px;
      .item {
        display: flex;
        flex-direction: column;
        gap: 20px;
        background-color: #014181;
        .name {
          p {
            color: #bfdfff;
            font-size: 35px;
            font-family: Impact, Haettenschweiler, "Arial Narrow Bold",
              sans-serif;
            text-transform: uppercase;
            text-align: left;
            span {
              font-size: 40px;
            }
          }
        }
        .image {
          height: 300px;
          img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
          }
        }
        .services {
          p {
            color: white;
            text-align: left;
          }
        }
      }
      .item:hover {
        transform: scale(1.1);
        transition: transform 0.5s;
      }
    }
  }
}

#gallery_section {
  background-color: #bfdfff;
  .container {
    .title {
      color: #014181;
      p {
        font-size: 35px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      hr {
        border: 1px solid;
      }
    }
    swiper-container {
      align-items: center;
      padding-block: 30px;
      swiper-slide {
        img {
          height: 350px;
          border-radius: 20px;
        }
      }
    }
    .button_class {
      .btn {
        display: inline-block;
        padding: 15px 20px;
        font-size: 1.1em;
        color: #fff;
        background-color: #9e0534;
        border-radius: 10px;
        transition: background-color 0.3s;
        text-transform: uppercase;

        &:hover {
          background-color: #014181;
        }
      }
    }
  }
}

#services_section {
  background-color: #014181;
  .container {
    .title {
      color: #bfdfff;
      p {
        font-size: 35px;
        font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
        text-transform: uppercase;
        margin-bottom: 15px;
      }
      hr {
        border: 1px solid;
      }
    }
    .services_grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 45px;
      padding-block: 45px;
      .service {
        display: grid;
        grid-template-columns: 1fr 2fr;
        align-items: center;
        background-color: #bfdfff;
        gap: 30px;
        padding: 20px;
        border-radius: 15px;
        .image {
          background-color: #9e0534;
          border-radius: 15px;
          padding: 30px;
        }
        .service_text {
          display: flex;
          flex-direction: column;
          text-align: center;
          gap: 15px;
          .service_title {
            text-transform: uppercase;
            font-size: 15px;
          }
          .service_about {
          }
          .button_class {
            margin-bottom: 0;
          }
        }
      }
      .service:hover {
        transform: translateY(-30px);
        transition: transform 0.6s;
      }
    }
  }
}
