<app-header></app-header>
<main>
  <section id="vehicle_hero_section"></section>
  <section id="vehicle_about_section">
    <div
      class="container"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-duration="1500"
    >
      <div class="vehicle">
        <div class="vehicle_name">
          <div class="name">
            <p>Flóribela</p>
          </div>
          <div class="text">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim
              sunt sit, praesentium adipisci error repudiandae inventore earum
              reiciendis necessitatibus officia fugiat commodi itaque. Voluptate
              iste, accusantium suscipit aliquam magni eius.
            </p>
          </div>
        </div>
        <div class="informations">
          <div class="title">
            <p>Ano</p>
            <p>Cor</p>
            <p>Lotação</p>
            <p>Som</p>
            <p>Extras</p>
          </div>
          <div class="information">
            <p>1969</p>
            <p>Verde Água e Branca</p>
            <p>8 + Motorista</p>
            <p>CD - USB - Bluetooth</p>
            <p>Mini Frigorífico</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section id="gallery_section">
    <div class="image">
      <div
        class="image_1"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      ></div>
      <div class="review">
        <div class="author">
          <p>
            <strong>Carina C.</strong>
          </p>
        </div>
        <div class="avaliation">⭐⭐⭐⭐⭐ 5.0</div>
        <div class="text_review">
          <p>
            “Não podia ter feito melhor escolha no serviço de transporte! Desde
            o primeiro contacto, sempre uma simpatia e profissionalismo
            exemplar! O José e a sua carrinha Flóribela foram de extrema
            importância neste dia, super pontual, animou em todo o percurso…”
          </p>
        </div>
      </div>
    </div>
    <div class="image">
      <div
        class="image_2"
        data-aos="fade-left"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      ></div>
      <div class="review">
        <div class="author">
          <p>
            <strong>Marta M.</strong>
          </p>
        </div>
        <div class="avaliation">⭐⭐⭐⭐⭐</div>
        <div class="text_review">
          <p>
            “A carrinha mais fofa e a melhor decisão que poderia ter tomado foi
            contratar este serviço! Eu já estava a desistir, admito, pois os
            serviços de aluguer de carro são extremamente caros (minha opinião),
            até que me apareceu um anjo…”
          </p>
        </div>
      </div>
    </div>
    <div class="image">
      <div
        class="image_3"
        data-aos="fade-right"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      ></div>
      <div class="review">
        <div class="author">
          <p>
            <strong>Carina C.</strong>
          </p>
        </div>
        <div class="avaliation">⭐⭐⭐⭐⭐ 5.0</div>
        <div class="text_review">
          <p>
            “Não podia ter feito melhor escolha no serviço de transporte! Desde
            o primeiro contacto, sempre uma simpatia e profissionalismo
            exemplar! O José e a sua carrinha Flóribela foram de extrema
            importância neste dia, super pontual, animou em todo o percurso…”
          </p>
        </div>
      </div>
    </div>
    <div class="image">
      <div
        class="image_4"
        data-aos="fade-left"
        data-aos-anchor-placement="top-center"
        data-aos-duration="1500"
      ></div>
      <div class="review">
        <div class="author">
          <p>
            <strong>Carina C.</strong>
          </p>
        </div>
        <div class="avaliation">⭐⭐⭐⭐⭐ 5.0</div>
        <div class="text_review">
          <p>
            “Não podia ter feito melhor escolha no serviço de transporte! Desde
            o primeiro contacto, sempre uma simpatia e profissionalismo
            exemplar! O José e a sua carrinha Flóribela foram de extrema
            importância neste dia, super pontual, animou em todo o percurso…”
          </p>
        </div>
      </div>
    </div>
  </section>
</main>
<app-footer id="footer"></app-footer>
