<app-header></app-header>
<section id="boaGira_section">
  <div class="container">
    <div class="apresentation">
      <div class="details">
        <div class="title">
          <p><strong>Boa&Gira</strong></p>
          <small>VW Pão de Forma</small>
        </div>
        <div class="text_information">
          <p>
            Apresentamos a "Boa & Gira", uma encantadora carrinha de 1968,
            perfeitamente restaurada para proporcionar uma experiência única e
            memorável. Com a sua vibrante cor Verde Menta e Branco, esta
            carrinha é ideal para qualquer ocasião especial.
          </p>
        </div>
      </div>
      <div class="video">
        <video controls autoplay muted>
          <source src="../../../assets/Boa&Gira-Video.mp4" type="video/mp4" />
        </video>
      </div>
    </div>
    <div
      class="media"
      data-aos="fade-up"
      data-aos-anchor-placement="top-center"
      data-aos-duration="1500"
    >
      <div class="image">
        <img
          src="../../../assets/Boa&Gira/214273945_4006667789424943_5837392149734448639_n.jpg"
          alt=""
        />
      </div>
      <div class="image">
        <img
          src="../../../assets/Boa&Gira/304844825_5293444960747213_4739871380678037751_n.jpg"
          alt=""
        />
      </div>
      <div class="image">
        <img
          src="../../../assets/Boa&Gira/299770584_5240733929351650_8388657786088753639_n.jpg"
          alt=""
        />
      </div>
      <div class="image">
        <img
          src="../../../assets/Boa&Gira/317481295_813538749734564_5128879112705642981_n.jpg"
          alt=""
        />
      </div>
      <div class="image">
        <img
          src="../../../assets/Boa&Gira/304844825_5293444960747213_4739871380678037751_n.jpg"
          alt=""
        />
      </div>
      <div class="image">
        <img
          src="../../../assets/Boa&Gira/299121979_5240733936018316_7304943378382825137_n.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
